<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - NestJS MPA</title>
    <link rel="stylesheet" href="<%= cssPath %>" />
  </head>
  <body>
    <div id="root"><%- appHtml %></div>
    <script src="<%= bundlePath %>"></script>
  </body>
</html>
